.mainBox{
 background-color: #e77781;
 height: 90px;
 font-family:'Libre Franklin';
 color: white;
 font-weight: 500;
 font-size: 20px;
 display: flex;
 align-items: center;
}
.items{
    display: flex;
   margin-top: 5px;
    
}
.item{
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100px;
    color: #000;
    text-align: center;
    background-color: white;
    font-family: 'Libre Franklin';
    font-weight: 300;
    border-radius: 20px;
    cursor: pointer;  
}
.item:hover{
    background-color:#e77781 ;
    border: 1px solid white;
    color: white;
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}
.items > div:last-child{
    border-radius: 50%;
    height: 55px;
    width: 55px;
    border: 1px solid white;
    filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.5))

}

.items > div:last-child:hover{
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}
.menu{
    display: none;
    margin-top: 10px;
}
.nav-list{
    display:flex;
    align-items: center;
    justify-content: end;
}



.dropdown{
    overflow: hidden;
    opacity: 1;
}

/* .dropdown.open {

    animation-name: animatedrop;
    animation-duration: 1s;
} */

.image{
    height: 80px;
}
.svg{
    height: 65px;
    width: 50px;
}
.list-group-items{
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(5px);
    padding:5px 5px;
     backdrop-filter: blur(5px);
    
}




@media screen and (max-width:772px) {
    .items{
        display: none;
    }
    .menu{
        display: block;
        margin-top: 10px
    }
    .dropdown{
        display: block;
    }
    .nav-list{
        display:flex;
        align-items: center;
        justify-content: end;
    }
    .image{
        margin-top: 10px;
        height: 60px;
    }
    .svg{
        height: 60px;
        width: 30px;
    }
    
}



  :host ::ng-deep #home:hover .dialog{
    display: block;
  }
  :host ::ng-deep #poll:hover .dialog{
    display: block;
  }
  :host ::ng-deep #contact:hover .dialog{
    display: block;
  }
  :host ::ng-deep #profile:hover .dialog{
    display: block;
  }