<!-- <div style=" background: linear-gradient(45deg, #e77781 50%, #d9d9e0 50%); ">

    <div>
 <h1 style="text-align: center;">Api Fetched Data</h1>
    <div style="display: flex; flex-wrap: wrap;justify-content: center; ">
       
        <div *ngFor ="let a of title" style="margin: 10px;" >
            <div class="card" style="width: 18rem; height: 500px;  border-radius: 5%; box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;">
                <img src="../assets/user.jpg" style="height:250;" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{a?.id}}</h5>
                  <p class="card-text" style="height: 60px;">{{a?.title}}</p>
                  <div style="display: flex; justify-content: center;">
    
                      <a href="#"  class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>
            
            
         </div> 
    </div>
   
    </div>

</div> -->




<router-outlet></router-outlet> 


