input.ng-dirty.ng-invalid:focus{
    border: 1px solid red;
}
.form-control:focus {
    box-shadow: none ;
}
.logindiv{
    padding: 10px 70px;
}
.Box{
    transition: ;
}

.otp-input-wrapper {
    width: 240px;
    text-align: left;
    display: inline-block;
  }
  .otpfield {
    flex-direction: row;
    column-gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
     margin: 20px;
  }
  
  .otpfield input {
    height: 45px;
    width: 42px;
    border-radius: 6px;
    outline: none;
    font-size: 1.125rem;
    text-align: center;
    border: 1px solid #e77781;
  }
  
  .otpfield input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  }
  
  .otpfield input::-webkit-inner-spin-button,
  .otpfield input::-webkit-outer-spin-button {
    display: none;
  }
  
  
@media screen  and (max-width:380px){
    .logindiv{
        padding:5px 20px;
    }
}

@media screen  and (max-width:425px){
    .logindiv{
        padding:7px 25px;
    }
}