<div>
  <div>
    <app-carosule></app-carosule>
  </div>
  <!-- <input type="file" (change)="getInfo($event)" /> -->

  <app-dialog [isOpen]="showModal" (onClose)="closeModal()">
    <div class="updateForm">
      <div class="leftdiv">
        <div class="profile-pic" style="cursor: pointer;" >
          <label class="-label" for="file">  <span > <img/></span> Change Image </label>
          <input id="file" type="file" (change)="loadFile($event)" />
          <img
          crossorigin="anonymous"
            src={{src}}
            id="output"
            width="200"
          />
        </div>
      </div>
      <div class="rightdiv">
        <div class="headingdiv">
          <div class="head" (click)="showdetails(1)">User's Details</div>
          <div
            class="head"
            (click)="showdetails(2)"
          >
            Aadhar Card
          </div>
          <div
            class="head"
      
            (click)="showdetails(3)"
          >
            Password
          </div>
        </div>
        <div [ngSwitch]="updatedetals">
          <form [formGroup]="profileForm" (ngSubmit)="onSubmitUser()" >
          <div *ngSwitchCase="1" >
            <div  class="marginClass">
              <label style="font-family: 'Libre Franklin'; font-weight: 200 ;"
                >Name</label
              >
              <div class="input-group input-group-lg">
                <div
                  [ngStyle]="{
                    'border-color':
                      profileForm.get('name')?.dirty &&
                      profileForm.get('name')?.invalid
                        ? 'red'
                        : '#ccc'
                  }"
                  style="
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 10px 10px;
                    background-color: #f8f9fa;
                    border-top-left-radius: 7px;
                    border-bottom-left-radius: 7px;
                    border: 1px solid rgb(204, 204, 204);
                  "
                >
                  <img
                    src="../../assets/svg/user.svg"
                    style="object-fit: fill; height: 30px; width: 30px"
                  />
                </div>
                <input
                  type="text"
                  class="form-control"
                  [ngStyle]="{
                    'border-color':
                      profileForm.get('name')?.dirty &&
                      profileForm.get('name')?.invalid
                        ? 'red'
                        : '#ccc'
                  }"
                  formControlName="name"
                  aria-label="Sizing example input"
                  aria-describedby="inputGroup-sizing-lg"
                />
              </div>
              <div style="height: 8px">
                <div
                  *ngIf="
                    profileForm.get('name')?.dirty &&
                    profileForm.get('name')?.invalid
                  "
                >
                  <span
                    class="error-message"
                    style="
                      font-family: 'Libre Franklin';
                      font-weight: 100;
                      font-size: smaller;
                      padding-left: 1px;
                    "
                    >Name is required</span
                  >
                </div>
              </div>
            </div>
            <div class="marginClass">
              <label style="font-family: 'Libre Franklin'; font-weight: 200"
                >Last Name</label
              >
              <div class="input-group input-group-lg">
                <div
                  [ngStyle]="{
                    'border-color':
                      profileForm.get('lastname')?.dirty &&
                      profileForm.get('lastname')?.invalid
                        ? 'red'
                        : '#ccc'
                  }"
                  style="
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 10px 10px;
                    background-color: #f8f9fa;
                    border-top-left-radius: 7px;
                    border-bottom-left-radius: 7px;
                    border: 1px solid rgb(204, 204, 204);
                  "
                >
                  <img
                    src="../../assets/svg/user.svg"
                    style="object-fit: fill; height: 30px; width: 30px"
                  />
                </div>
                <input
                  type="text"
                  formControlName="lastname"
                  class="form-control"
                  [ngStyle]="{
                    'border-color':
                      profileForm.get('lastname')?.dirty &&
                      profileForm.get('lastname')?.invalid
                        ? 'red'
                        : '#ccc'
                  }"
                  aria-label="Sizing example input"
                  aria-describedby="inputGroup-sizing-lg"
                />
              </div>
              <div style="height: 8px">
                <div
                  *ngIf="
                    profileForm.get('lastname')?.dirty &&
                    profileForm.get('lastname')?.invalid
                  "
                >
                  <span
                    class="error-message"
                    style="
                      font-family: 'Libre Franklin';
                      font-weight: 100;
                      font-size: smaller;
                      padding-left: 1px;
                    "
                    >last name is required</span
                  >
                </div>
              </div>
            </div>
            <div class="marginClass">
              <label style="font-family: 'Libre Franklin'; font-weight: 200"
                >Father's Name</label
              >
              <div class="input-group input-group-lg">
                <div
                  [ngStyle]="{
                    'border-color':
                      profileForm.get('fathersname')?.dirty &&
                      profileForm.get('fathersname')?.invalid
                        ? 'red'
                        : '#ccc'
                  }"
                  style="
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 10px 10px;
                    background-color: #f8f9fa;
                    border-top-left-radius: 7px;
                    border-bottom-left-radius: 7px;
                    border: 1px solid rgb(204, 204, 204);
                  "
                >
                  <img
                    src="../../assets/svg/user.svg"
                    style="object-fit: fill; height: 30px; width: 30px"
                  />
                </div>
                <input
                  type="text"
                  class="form-control"
                  [ngStyle]="{
                    'border-color':
                      profileForm.get('fathersname')?.dirty &&
                      profileForm.get('fathersname')?.invalid
                        ? 'red'
                        : '#ccc'
                  }"
                  aria-label="Sizing example input"
                  aria-describedby="inputGroup-sizing-lg"
                  formControlName="fathersname"
                />
              </div>
              <div style="height: 8px">
                <div
                  *ngIf="
                    profileForm.get('fathersname')?.dirty &&
                    profileForm.get('fathersname')?.invalid
                  "
                >
                  <span
                    class="error-message"
                    style="
                      font-family: 'Libre Franklin';
                      font-weight: 100;
                      font-size: smaller;
                      padding-left: 1px;
                    "
                    >father's name is required</span
                  >
                </div>
              </div>
            </div>
            <div class="marginClass">
              <label style="font-family: 'Libre Franklin'; font-weight: 200"
                >Phone</label
              >
              <div class="input-group input-group-lg">
                <div
                  [ngStyle]="{
                    'border-color':
                      profileForm.get('phone')?.dirty &&
                      profileForm.get('phone')?.invalid
                        ? 'red'
                        : '#ccc'
                  }"
                  style="
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 10px 10px;
                    background-color: #f8f9fa;
                    border-top-left-radius: 7px;
                    border-bottom-left-radius: 7px;
                    border: 1px solid rgb(204, 204, 204);
                  "
                >
                  <img
                    src="../../assets/svg/phone.svg"
                    style="object-fit: fill; height: 30px; width: 30px"
                  />
                </div>
                <input
                formControlName="phone"
                  type="text"
                  class="form-control"
                  [ngStyle]="{
                    'border-color':
                      profileForm.get('phone')?.dirty &&
                      profileForm.get('phone')?.invalid
                        ? 'red'
                        : '#ccc'
                  }"
                  aria-label="Sizing example input"
                  aria-describedby="inputGroup-sizing-lg"
                />
              </div>
              <div style="height: 8px">
                <div
                  *ngIf="
                    profileForm.get('phone')?.dirty &&
                    profileForm.get('phone')?.invalid
                  "
                >
                  <span
                    class="error-message"
                    style="
                      font-family: 'Libre Franklin';
                      font-weight: 100;
                      font-size: smaller;
                      padding-left: 1px;
                    "
                    >Phone is invalid</span
                  >
                </div>
              </div>
            </div>

            <div>
              <div class="marginClass">
                <label style="font-family: 'Libre Franklin'; font-weight: 200"
                  >Address</label
                >
                <div class="input-group input-group-lg">
                  <div
                    [ngStyle]="{
                      'border-color':
                        profileForm.get('address')?.dirty &&
                        profileForm.get('address')?.invalid
                          ? 'red'
                          : '#ccc'
                    }"
                    style="
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      padding: 10px 10px;
                      background-color: #f8f9fa;
                      border-top-left-radius: 7px;
                      border-bottom-left-radius: 7px;
                      border: 1px solid rgb(204, 204, 204);
                    "
                  >
                    <img
                      src="../../assets/svg/home.svg"
                      style="object-fit: fill; height: 30px; width: 30px"
                    />
                  </div>
                  <input
                  formControlName="address"
                    type="text"
                    class="form-control"
                    [ngStyle]="{
                      'border-color':
                        profileForm.get('address')?.dirty &&
                        profileForm.get('address')?.invalid
                          ? 'red'
                          : '#ccc'
                    }"
                    aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-lg"
                  />
                </div>
                <div style="height: 8px">
                  <div
                    *ngIf="
                      profileForm.get('address')?.dirty &&
                      profileForm.get('address')?.invalid
                    "
                  >
                    <span
                      class="error-message"
                      style="
                        font-family: 'Libre Franklin';
                        font-weight: 100;
                        font-size: smaller;
                        padding-left: 1px;
                      "
                      >Address is required</span
                    >
                  </div>
                </div>
              </div>
              <div style="display: flex; ">
                <div class="marginClass">
                  <label style="font-family: 'Libre Franklin'; font-weight: 200"
                    >PinCode</label
                  >
                  <div class="input-group input-group-lg">
                    <div
                      [ngStyle]="{
                        'border-color':
                          profileForm.get('pincode')?.dirty &&
                          profileForm.get('pincode')?.invalid
                            ? 'red'
                            : '#ccc'
                      }"
                      style="
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 10px 10px;
                        background-color: #f8f9fa;
                        border-top-left-radius: 7px;
                        border-bottom-left-radius: 7px;
                        border: 1px solid rgb(204, 204, 204);
                      "
                    >
                      <img
                        src="../../assets/svg/pin.svg"
                        style="object-fit: fill; height: 30px; width: 30px"
                      />
                    </div>
                    <input
                    formControlName="pincode"
                      type="number"
                      class="form-control"
                      [ngStyle]="{
                        'border-color':
                          profileForm.get('pincode')?.dirty &&
                          profileForm.get('pincode')?.invalid
                            ? 'red'
                            : '#ccc'
                      }"
                      aria-label="Sizing example input"
                      aria-describedby="inputGroup-sizing-lg"
                    />
                  </div>
                  <div style="height: 8px">
                    <div
                      *ngIf="
                        profileForm.get('pincode')?.dirty &&
                        profileForm.get('pincode')?.invalid
                      "
                    >
                      <span
                        class="error-message"
                        style="
                          font-family: 'Libre Franklin';
                          font-weight: 100;
                          font-size: smaller;
                          padding-left: 1px;
                        "
                        >Pincode is required</span
                      >
                    </div>
                  </div>
                </div>
                <div class="marginClass">
                  <label style="font-family: 'Libre Franklin'; font-weight: 200"
                    >City</label
                  >
                  <div class="input-group input-group-lg">
                    <div
                      [ngStyle]="{
                        'border-color':
                          profileForm.get('city')?.dirty &&
                          profileForm.get('city')?.invalid
                            ? 'red'
                            : '#ccc'
                      }"
                      style="
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 10px 10px;
                        background-color: #f8f9fa;
                        border-top-left-radius: 7px;
                        border-bottom-left-radius: 7px;
                        border: 1px solid rgb(204, 204, 204);
                      "
                    >
                      <img
                        src="../../assets/svg/city.svg"
                        style="object-fit: fill; height: 30px; width: 30px"
                      />
                    </div>
                    <input
                    formControlName="city"
                      type="text"
                      class="form-control"
                      [ngStyle]="{
                        'border-color':
                          profileForm.get('city')?.dirty &&
                          profileForm.get('city')?.invalid
                            ? 'red'
                            : '#ccc'
                      }"
                      aria-label="Sizing example input"
                      aria-describedby="inputGroup-sizing-lg"
                    />
                  </div>
                  <div style="height: 8px">
                    <div
                      *ngIf="
                        profileForm.get('city')?.dirty &&
                        profileForm.get('city')?.invalid
                      "
                    >
                      <span
                        class="error-message"
                        style="
                          font-family: 'Libre Franklin';
                          font-weight: 100;
                          font-size: smaller;
                          padding-left: 1px;
                        "
                        >City is required</span
                      >
                    </div>
                  </div>
                </div>
              
              </div>
            </div>
            <div style="margin: 17px 0px 10px 0px;display: flex;justify-content: space-between;">
              <div >
                <button type="submit" 
                 
                 (click)="closeModal()"
                   class="btn btn-danger btn-lg" style="padding: 8px 8px;width: 100%;" >
                   Close
                  </button>
              </div>
        
              <div >
                <button type="submit"  
                [disabled]="profileForm.invalid"  
                   class="btn btn-danger btn-lg" style="padding: 8px 8px;width: 100%;" >
                   Submit
             </button>
              </div>
              
            </div>
          </div>
     
     </form>
     <div *ngSwitchCase="2" >
     <form [formGroup]="adhaarForm" (ngSubmit)="onSubmitAdhar()" >
        <div >
          <div class="updateadhar">

            <div class="marginClass">
              <label style="font-family: 'Libre Franklin'; font-weight: 200"
                >Aadhar Number</label
              >
              <div class="input-group input-group-lg">
                <div
                  [ngStyle]="{
                    'border-color':
                      adhaarForm.get('adharnumber')?.dirty &&
                      adhaarForm.get('adharnumber')?.invalid
                        ? 'red'
                        : '#ccc'
                  }"
                  style="
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 10px 10px;
                    background-color: #f8f9fa;
                    border-top-left-radius: 7px;
                    border-bottom-left-radius: 7px;
                    border: 1px solid rgb(204, 204, 204);
                    cursor: pointer;
                  "
                >
                  <img
                    src="../../assets/svg/card.svg"
                    style="object-fit: fill; height: 30px; width: 30px"
                  />
                </div>
    
                <input
                formControlName="adharnumber"
                  type="number"
                  class="form-control"
                  aria-label="Sizing example input"
                  aria-describedby="inputGroup-sizing-lg"
                />
              </div>
              <div style="height: 8px">
                <div  *ngIf=" adhaarForm.get('adharnumber')?.dirty && adhaarForm.get('adharnumber')?.invalid">
                  <span
                    style="
                      font-family: 'Libre Franklin';
                      font-weight: 100;
                      font-size: smaller;
                      padding-left: 1px;
                    "
                    class="error-message"
                    >Invalid Aadhar Number</span
                  >
                </div>
              </div>
            </div>
            <div class="dobage " >
              <div class="marginClass">
                <label style="font-family: 'Libre Franklin'; font-weight: 200">Date of birth</label>
                <div class="input-group input-group-lg">
                  <div
                    [ngStyle]="{
                      'border-color': adhaarForm.get('dob')?.invalid && adhaarForm.get('dob')?.touched ? 'red' : '#ccc'
                    }"
                    style="
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      padding: 10px 10px;
                      background-color: #f8f9fa;
                      border-top-left-radius: 7px;
                      border-bottom-left-radius: 7px;
                      border: 1px solid rgb(204, 204, 204);
                      cursor: pointer;
                    "
                  >
                    <img
                      src="./../../../assets/svg/dob.svg"
                      style="object-fit: fill; height: 30px; width: 30px"
                    />
                  </div>
                  <input
                  [ngStyle]="{
                    'border-color': adhaarForm.get('dob')?.invalid && adhaarForm.get('dob')?.touched ? 'red' : '#ccc'
                  }"
                    formControlName="dob"
                    type="date"
                    class="form-control"
                    aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-lg"
                    [max]="calculateMaxDate()"
                  />
                </div>
                <div style="height: 8px">
                  <div *ngIf="adhaarForm.get('dob')?.errors && adhaarForm.get('dob')?.touched">
                    <span style="font-family: 'Libre Franklin'; font-weight: 100; font-size: smaller; padding-left: 1px;" class="error-message">
                      Invalid Date of Birth
                    </span>
                  </div>
                </div>
              </div>
              
              <div  >
                <div class="marginClass" style="width: 120px;">
                  <label style="font-family: 'Libre Franklin'; font-weight: 200"
                    >Age</label
                  >
                  <div class="input-group input-group-lg">
                    <div
                    [ngStyle]="{
                      'border-color': adhaarForm.get('age')?.invalid && adhaarForm.get('age')?.touched ? 'red' : '#ccc'
                    }"
                      style="
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 10px 10px;
                        background-color: #f8f9fa;
                        border-top-left-radius: 7px;
                        border-bottom-left-radius: 7px;
                        border: 1px solid rgb(204, 204, 204);
                        cursor: pointer;
                      "
                    >
                      <img
                        src="./../../../assets/svg/user.svg"
                        style="object-fit: fill; height: 30px; width: 30px"
                      />
                    </div>
    
                    <input
                    [ngStyle]="{
                      'border-color': adhaarForm.get('age')?.invalid && adhaarForm.get('age')?.touched ? 'red' : '#ccc'
                    }"
                    formControlName="age"
                      maxlength="2"
                      class="form-control"
                      aria-label="Sizing example input"
                      aria-describedby="inputGroup-sizing-lg"
                      readonly
                    />
                  </div>
                  <div style="height: 8px">
                    <div
                      *ngIf="adhaarForm.get('age')?.errors && adhaarForm.get('age')?.touched"
                    >
                      <span
                        style="
                          font-family: 'Libre Franklin';
                          font-weight: 100;
                          font-size: smaller;
                          padding-left: 1px;
                        "
                        class="error-message"
                        >Invalid Age</span
                      >
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
          
          <div style="margin: 17px 0px 10px 0px;display: flex;justify-content: space-between;">
            <div >
              <button type="submit" 
               
               (click)="closeModal()"
                 class="btn btn-danger btn-lg" style="padding: 8px 8px;width: 100%;" >
                 Close
                </button>
            </div>
            <div >
              <button type="submit"  
              [disabled]="adhaarForm.invalid"  
                 class="btn btn-danger btn-lg" style="padding: 8px 8px;width: 100%;" >
                 Submit
           </button>
            </div>
            
          </div>
        </div>
      </form> 
    
    </div>
          <div *ngSwitchCase="3">
            <form [formGroup]="passwordForm" (ngSubmit)="onSubmitPass()" >
              <div >
                <div  class="updatepassword">
               
                  <div  class="marginClass">
                    <label style="font-family: 'Libre Franklin'; font-weight: 200"
                      >Current Password</label
                    >
                    <div class="input-group input-group-lg">
                      <div
                        (click)="toggleVisibility()"
                        [ngStyle]="{
                          'border-color':
                            passwordForm.get('oldpassword')?.dirty &&
                            passwordForm.get('oldpassword')?.invalid
                              ? 'red'
                              : '#ccc'
                        }"
                        style="
                          display: flex;
                          justify-content: center;
                          align-items: center;
                          padding: 10px 10px;
                          background-color: #f8f9fa;
                          border-top-left-radius: 7px;
                          border-bottom-left-radius: 7px;
                          border: 1px solid rgb(204, 204, 204);
                          cursor: pointer;
                        "
                      >
                        <img
                          [src]="
                          visibility
                              ? '../../assets/svg/lock.svg'
                              : '../../assets/svg/unlock.svg'
                          "
                          style="object-fit: fill; height: 30px; width: 30px"
                        />
                      </div>
      
                      <input
                      [ngStyle]="{
                        'border-color':
                          passwordForm.get('oldpassword')?.dirty &&
                          passwordForm.get('oldpassword')?.invalid
                            ? 'red'
                            : '#ccc'
                      }"
                      formControlName="oldpassword"
                        [type]="visibility? 'password' : 'text'"
                        class="form-control"
                        aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-lg"
                      />
                    </div>
                    <div style="height: 8px">
                      <div  *ngIf="
                      passwordForm.get('oldpassword')?.dirty &&
                      passwordForm.get('oldpassword')?.invalid
                    ">
                        <span
                          style="
                            font-family: 'Libre Franklin';
                            font-weight: 100;
                            font-size: smaller;
                            padding-left: 1px;
                          "
                          class="error-message"
                          >Password must be 8 characters long</span
                        >
                      </div>
                    </div>
                  </div>
                  <div class="marginClass">
                    <label style="font-family: 'Libre Franklin'; font-weight: 200"
                      >Password</label
                    >
                    <div class="input-group input-group-lg">
      
      
                      <div (click)="togglePasswordVisibility()"
                      [ngStyle]="{
                        'border-color':  passwordForm.get('password')?.hasError('password')
                          ? 'red'
                          : '#ccc'
                      }"
                      style="display: flex;justify-content: center;align-items: center; padding: 10px 10px;background-color:#f8f9fa;border-top-left-radius:7px
                       ;border-bottom-left-radius:7px; border:1px solid rgb(204, 204, 204) ;   cursor: pointer; ">
                          <img [src]="VisibilityPassword ? '../../assets/svg/lock.svg' : '../../assets/svg/unlock.svg'" style="object-fit: fill; height: 30px; width: 30px;"/>
                          </div>
      
                      <input
                        [type]="VisibilityPassword ? 'password' : 'text'"
                        class="form-control"
                        formControlName="password"
                        aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-lg"
                           
                      [ngStyle]="{
                        'border-color':  passwordForm.get('password')?.hasError('password')
                          ? 'red'
                          : '#ccc'
                      }"
                      />
                    </div>
                    <div style="height: 8px">
                      <div *ngIf="passwordForm.get('password')?.hasError('password')">
                        <span
                          style="
                            font-family: 'Libre Franklin';
                            font-weight: 100;
                            font-size: smaller;
                            padding-left: 1px;
                          "
                          class="error-message"
                          >{{ validationForPassword }}</span
                        >
                      </div>
                    </div>
                  </div>
                  <div class="marginClass">
                    <label style="font-family: 'Libre Franklin'; font-weight: 200"
                      >Confirm Password</label
                    >
                    <div class="input-group input-group-lg">
                      <div (click)="toggleConfirmPasswordVisibility()"
                         
                      [ngStyle]="{
                        'border-color':  passwordForm
                        .get('confirmPassword')
                        ?.hasError('passwordMismatch')
                          ? 'red'
                          : '#ccc'
                      }"
                      style="display: flex;justify-content: center;align-items: center; padding: 10px 10px;background-color:#f8f9fa;border-top-left-radius:7px
                       ;border-bottom-left-radius:7px; border:1px solid rgb(204, 204, 204) ;   cursor: pointer; ">
                          <img [src]="VisibilityConfirmPassword ? '../../assets/svg/lock.svg' : '../../assets/svg/unlock.svg'" style="object-fit: fill; height: 30px; width: 30px;"/>
                          </div>
                      <input
                        [type]="VisibilityConfirmPassword ? 'password' : 'text'"
                        class="form-control"
                        formControlName="confirmPassword"
                        aria-label="Sizing example input"
                        [ngStyle]="{
                          'border-color': passwordForm
                          .get('confirmPassword')
                          ?.hasError('passwordMismatch')
                            ? 'red'
                            : '#ccc'
                        }"
                        aria-describedby="inputGroup-sizing-lg"
                      />
                    </div>
                    <div style="height: 8px">
                      <div
                        *ngIf="
                          passwordForm
                            .get('confirmPassword')
                            ?.hasError('passwordMismatch')
                        "
                      >
                        <span
                          style="
                            font-family: 'Libre Franklin';
                            font-weight: 100;
                            font-size: smaller;
                            padding-left: 1px;
                          "
                          class="error-message"
                          >Password must match</span
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <div style="margin: 17px 0px 10px 0px;display: flex;justify-content: space-between;">
                  <div >
                    <button type="submit" 
                     
                     (click)="closeModal()"
                       class="btn btn-danger btn-lg" style="padding: 8px 8px;width: 100%;" >
                       Close
                      </button>
                  </div>
                  <div >
                    <button type="submit"  
                    [disabled]="passwordForm.invalid"  
                       class="btn btn-danger btn-lg" style="padding: 8px 8px;width: 100%;" >
                       Submit
                 </button>
                  </div>
                  
                </div>
              </div>
       </form>
          </div>
        </div>
   
      </div>
    </div>
  </app-dialog>
</div>
